/* Custom fonts */

@font-face {
  font-family: 'RussoOne';
  src: url('/fonts/Russo_One/RussoOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #dae7ff;

  a {
    color: #121354;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #121354;
  }

  .card {
    border: 4px black;
    border-radius: 2rem;
    padding: 0.2rem 1.5rem;
    margin: 1rem auto;
    background: #94b1ff;
    background: linear-gradient(126deg, #94b1ff20 0%, #4759ff80 100%);
  }

  .active {
    color: white;
    background-color: #121354;
    border-radius: 2rem 0;
  }

  .header-nav {
    background-color: #bcd0ff;
    box-shadow: 3rem black;
  }

  .navbar a:hover:not(.active) {
    animation: highlight 250ms forwards;
  }

  .hamburger .line {
    background-color: black;
  }
}

html.dark {
  background-color: black;
  color: white;

  a {
    color: white;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #FCA311;
  }

  .active {
    color: black;
    background-color: white;
    border-radius: 2rem 0;
  }

  .header-nav {
    background-color: #14213D;
    box-shadow: 3rem black;

    a {
      font-family: "RussoOne";
    }
  }

  .navbar a:hover:not(.active) {
    animation: dark-highlight 250ms forwards;
  }

  .hamburger .line {
    background-color: white;
  }

  .card {
    border: 4px black;
    border-radius: 2rem;
    padding: 0.2rem 1.5rem;
    margin: 1rem auto;
    background: rgb(25, 42, 77);
    background: linear-gradient(126deg, rgba(25, 42, 77, 0.3) 0%, rgba(10, 17, 31, 1) 100%);
  }

  .star {
    filter: blur(2px) drop-shadow(1px 1px 5px yellow);
    ;
  }
}

.page-title {
  font-family: "RussoOne";
}

.dark.navbar {
  color: #fff;
}

body {
  margin: 0 auto;
  padding: 0rem;
}

.content {
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 2rem 0;
}

h1,
h2,
h3 {
  text-align: center;
}

.hamburger {
  cursor: pointer;
}

.title-mobile {
  margin: 0;
  font-size: 36px;
  text-align: center;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
}

.mobile-navbar {
  flex-direction: column;
  text-align: center;
  transition: height 250ms 50ms, opacity 100ms ease-in 250ms;
  height: 0;
  transform: translateY(-20rem);
  opacity: 0;
}

.navbar a {
  margin: 0.2rem;
}

.expanded {
  display: flex;
  height: 15rem;
  opacity: 100%;
  transform: translateY(0);
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tag-card {
  text-decoration: none;
  margin: 0.5rem;
}

.posts-list {
  padding-inline-start: 0;
}

.header-nav {
  display: flex;
  flex-direction: column;
}

.post-image {
  background-color: black;
}

.desktop-item {
  display: none;
}

@media screen and (min-width: 636px) {
  body {
    padding: 0rem;
  }

  .mobile-item {
    display: none;
  }

  .desktop-item {
    display: contents;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .navbar a {
    margin: 0;
  }
}