---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
		<a href="/">Go to home page</a>
        <h1>About this project</h1>
        <h2>Why Astro?</h2>
        <p>
            Because I wanted to try the framework and evaluate the affinity it
            could have with my side-projects
        </p>
        <h2>Why Netlify?</h2>
        <p>
            I have never used Netlify until I found the official Astro tutorial,
            so in order to get the most out of it, I am following it step by
            step without leaving anything untied
        </p>
    </body>
</html>
