---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Astroblog";
const posts = await Astro.glob("./posts/*.md");
---

<style>
  .posts-list {
    padding-inline-start: 0;
  }
</style>
<BaseLayout pageTitle={pageTitle}>
  <section class="card">
    <h2>Intro</h2>
    <p>
      This tutorial is an introduction to the Astro framework, which can easily
      work with react
    </p>
  </section>
  <section>
    <h2>Current posts</h2>
    <p>
      Here is a list of the already published post that you can visit by
      clicking the hyperlink
    </p>
    <ul class="posts-list">
      {
        posts.map((post) => (
          <BlogPost url={post.url} postData={post.frontmatter} />
        ))
      }
    </ul>
  </section>
</BaseLayout>
