---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="card">
    <h1>
      <!-- "client:load" directive hydrates the component. It tells Astro to 
        rerun the JavaScript on the client when the page loads/has any changes-->
      <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />
    </h1>
    <p>This tutorial aims to show the basics of the astro framework</p>
    <p>
      The Astro app is hosted in Netlify, so any changes commit will be
      automatically reflected in their host service
    </p>
  </section>
</BaseLayout>
