---

---

<style>
  .line {
    transition:
      opacity 175ms,
      transform 350ms;
  }

  .cross {
    .middle {
      opacity: 0%;
    }

    .upper {
      transform: rotate(-45deg) translate(-0.8rem, 0.35rem);
    }

    .lower {
      transform: rotate(45deg) translate(-0.95rem, -0.5rem);
    }
  }
</style>

<div class="hamburger">
  <span class="line upper" style="margin-bottom: 10px;"></span>
  <span class="line middle" style="margin-bottom: 10px;"></span>
  <span class="line lower"></span>
</div>
