---

---

<style>
  .cross {
    .middle {
      animation: hide 200ms forwards;
    }

    .upper {
      animation: tiltdown 500ms forwards;
    }

    .lower {
      animation: tiltup 500ms forwards;
    }
  }
  @keyframes hide {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
    }
  }

  @keyframes tiltdown {
    from {
      transform: rotate(0) translate(0, 0);
    }
    to {
      transform: rotate(-45deg) translate(-0.8rem, 0.35rem);
    }
  }
  @keyframes tiltup {
    from {
      transform: rotate(0) translate(0, 0);
    }
    to {
      transform: rotate(45deg) translate(-0.95rem, -0.5rem);
    }
  }
</style>

<div class="hamburger">
  <span class="line upper" style="margin-bottom: 10px;"></span>
  <span class="line middle" style="margin-bottom: 10px;"></span>
  <span class="line lower"></span>
</div>
