---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";

const currentPath = new URL(Astro.request.url).pathname;
const title = currentPath.split("/")[1].toUpperCase();
---

<style>
  .header-nav {
    padding: 1rem;
  }

  .header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
</style>
<header>
  <nav class="header-nav">
    <span class="mobile-item">
      <div class="header-icons">
        <Hamburger />
        <span style="margin: 0 auto;">
          <h1 class="title-mobile page-title">
            {title ? title : "HOME"}
          </h1>
        </span>
        <ThemeIcon />
      </div>
      <Navigation isMobile="true" />
    </span>
    <span class="desktop-item">
      <Navigation />
      <ThemeIcon />
    </span>
  </nav>
</header>
