---
const pages = [
  {
    url: "/",
    title: "Home page",
  },
  {
    url: "/about/",
    title: "About",
  },
  {
    url: "/blog/",
    title: "Blog",
  },
  {
    url: "/tags/",
    title: "Tags",
  },
];
const currentPath = new URL(Astro.request.url).pathname;
---

<head>
  <style>
    .navbar {
      width: 100%;
      padding: 1rem;
      justify-content: space-evenly;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1rem;
    }

    .active {
      color: white;
      background-color: black;
      border-radius: 2rem 0;
    }

    .navbar a:hover:not(.active) {
      animation: highlight 250ms forwards;
    }

    @keyframes highlight {
      0% {
        background-color: none;
        color: black;
        border-radius: 0.2rem;
      }
      100% {
        color: white;
        border-radius: 2rem 0;
        background-color: black;
      }
    }
  </style>
</head>
<body>
  <div class="navbar">
    {
      pages.map((page, index) => (
        <a href={page.url} class={currentPath == page.url ? "active" : ""}>
          {page.title}
        </a>
      ))
    }
  </div>
  <hr />
</body>
