---
const { url, title } = Astro.props;
---

<head>
  <style>
    a {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
    }
    
  </style>
</head>
<body>
  <a class="link" target="_blank" href={url}>
  <span>
    {title}
  </span>
</a>
</body>
