---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/Russo_One/RussoOne-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      .content {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width: 50rem;
        height: auto;
        height: fit-content;
      }

      body {
        height: 100%;
        width: 100%;
      }

      .header {
        position: relative;
        z-index: 1;
      }
      .background {
        z-index: 0;
      }

      .content {
        min-height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .footer {
        position: relative;
        z-index: 1;
        height: max-content;
        margin-top: auto;
        padding-bottom: 2rem;
      }
    </style>
  </head>
  <body>
    <Header class="header" />
    <Background class="background" />
    <div class="content">
      <slot />
    </div>
    <div class="footer">
      <Footer />
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
